*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans', sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
}

.row{
    justify-content: space-between;
}

.flex-100r{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.flex-c{
    display: flex;
    flex-direction: column;
}

header {
    height: 120vh;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 30px 60px 60px 60px;
    background-image: url(../img/banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.custom-font {
    font-family: 'playfair display', serif;
}
.row .banner-heading {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 30%;
    font-size: 6.5rem;
    font-style: italic;
    justify-content: center;
    align-items: center;
}
.row .banner-text {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 70%;
    font-size: 1rem;
    font-weight: normal;
    background-color: white;
    padding: 60px 30px;
    color: black;
}
.annon-section {
    background-color: #d9b1b3;
    color: white;
    padding: 80px 60px 100px 60px;
    width: 100%;
}
.annon {
    width: 80%;
    font-size: 1.8rem;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 25px;
}
.annon span {
    font-size: 6rem;
    line-height: 0;
}
.annon-section p {
    width: 55%;
    font-size: 1.1rem;
}
.gallery {
    width: 100%;
}
.gallery-row {
    display: flex;
    flex-direction: row;
}
.img-container{
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.gallery .gallery-img-1 {
    background-image: url(../img/gallery-1.jpeg);
}
.gallery .gallery-img-2 {
    background-image: url(../img/gallery-2.jpeg);
}
.gallery .gallery-img-3 {
    background-image: url(../img/gallery-3.jpeg);
}
.gallery .gallery-img-4 {
    background-image: url(../img/gallery-4.jpeg);
}
.gallery .gallery-img-5 {
    background-image: url(../img/gallery-5.jpeg);
}
.gallery .gallery-img-6 {
    background-image: url(../img/gallery-6.jpeg);
}
.coming-soon {
    background-color: #d9b1b3;
    align-items: center;
    padding: 60px 0;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.coming-soon .coming-soon-heading{
    font-size: 5rem;
    font-style: italic;
}
.coming-soon-form .input-row {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}
.input-container {
    padding: 5px;
    
}
.input-container .text-input {
    border: none;
    border-radius: 20px;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
}

 .input-btn {
    border: none;
    border-radius: 20px;
    padding: 0.8rem 2.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: black;
    color: white;
    flex-basis: content;
    cursor: pointer;
}
.input-container .input-btn:hover{
    background-color: grey;
}
.philosophy {
    justify-content: space-between;
}
.philosophy .lead-img {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 25%;
    height: 100vh;
    padding: 50px;
    
}
.paragraph {
    justify-content: center;
    width: 70%;
}
.paragraph p {
    text-align: justify;
    font-size: 1.3rem;
    padding: 60px 80px 20px 0;
}
.spring-collection{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #d9b1b3;
    align-content: center;
    justify-content: center;
    justify-items: center;
    padding: 80px 30px;
}
.spring-collection .spring-collection-heading{
    font-size: 4.8rem;
    font-style: italic;
    text-align: center;
    color: white;
}

.slide-row {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: space-evenly;
    padding: 1rem 3rem;
    gap: 1rem;
    margin-bottom: 25px;
}
.slide-container {
    display: flex;
    flex-grow: 1;
    flex-basis: 20%;
    overflow: hidden;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.slide-row .slide-img-1{
    background-image: url(../img/slide-1.jpg);
}
.slide-row .slide-img-2{
    background-image: url(../img/slide-2.jpg);
}
.slide-row .slide-img-3{
    background-image: url(../img/slide-3.jpg);
}
.slide-row .slide-img-4{
    background-image: url(../img/slide-4.jpg);
}
.sample-pdt {
    gap: 50px;
    padding: 80px 50px;
}
.sample-img{
    display: flex;
    align-self: center;
    width: 70%;
    justify-content: left;
    gap: 20px;
}
.sample-img .sample{
    display: flex;
    width: 100%;
    height: 400px;
    padding: 0px;
    justify-content: left;
}

.sample-pdt .sample-order{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 60%;
}
.sample-order p{
    font-size: 1.2rem;
    width: 70%;
}
.sample-order .input-btn{
    border: none;
    border-radius: 20px;
    padding: 15px 40px;
    font-size: 1rem;
    background-color: black;
    color: white;
    width: fit-content;
}
.input-btn:hover{
    background-color: #d9b1b3;
}
.subscribe {
    justify-content: space-between;
}
.suscribe-img-container {
    display: flex;
    height: 450px;
    width: 50%;
}
.suscribe-img-container .suscribe-img {
    display: flex;
    width: 100%;
    height: 600px;
    padding: 0px;
}
.subscribe-form {
    display: flex;
    flex-grow: 1;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.subscribe-form .subscribe-msg{
    font-size: 5rem;
    font-style: italic;
    color: black;
}
.subscribe-form .input-row {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}
.subscribe-form .input-container .text-input {
    border: 1px solid black;
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 0;
}
.subscribe-form .input-btn {
    border: none;
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 1rem;
    background-color: black;
    color: white;
    width: fit-content;
}
.subscribe-form .input-btn:hover {
    background-color: #d9b1b3;
}
.social-img {
    margin: 30px 0;
    margin-bottom: 25px;
}
.social-img .twitter {
    padding: 0 20px;
}
.h-rule{
    width: 80%;
    height: 10px;
    background: #d9b1b3;
    margin-top: 100px; 
}
.sub-text{
     padding: 20px;
     text-align: center;
     font-size: 1rem;
     width: 60%;
}